/vendor
/vendor_alt
composer.phar
composer.lock
.DS_Store
/nbproject/private/
nbproject
.idea
.antigravitycli
.phpunit.result.cache
/examples/demo/node_modules/
/examples/demo/vendor/
/examples/demo/.env
/examples/demo/bootstrap/cache/
/examples/demo/storage/
/node_modules/
/public/dist/